<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/monitor.css">
</head>
<body>

  
  <header>
    <div class="logo">
        <a href="../css/index.html">
            <img src="../asset/lock.png" alt="Lock icon" class="icon-img">
        </a>
        <p class="icon-text">Smart Lock</p>
    </div>

    <nav>
      <div class="left-header">
        <a href="/{{userId}}/history" class="button">Home</a>
        <a href="/{{userId}}/profile" class="button">Profile</a>
        <a href="/signout" class="button">Sign out</a>
        <p>Hello {{user.username}}</p>
      </div>
    </nav>
</header>
<main>
  <aside>
      <a href="/{{userId}}/monitor">
        <button class="side-btn">Monitor</button>
      </a>
      <button class="side-btn">History</button>
      <button class="side-btn" onclick="controlLock('Lock')">Lock</button>
      <button class="side-btn" onclick="controlLock('Unlock')">Unlock</button>
  </aside>

  <div class="content">
    <div class="card">
      <img src="https://via.placeholder.com/50" alt="Fingerprint">
      <p id="add-fingerprint">Add Fingerprint</p>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/50" alt="Password">
      <p>Change Password</p>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/50" alt="Lock">
      <p>Lock/Unlock</p>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/50" alt="Alert">
      <p>Sound Alert</p>
    </div>
  </div>
</main>

</body>
<script>
  document.querySelector('p #add-fingerprint').addEventListener('click', () => {
    fetch('/add-fingerprint', { method: 'POST' })
      .then(response => response.json())
      .then(data => alert(data.message))
      .catch(error => console.error('Error:', error));
  });
</script>
</html>
