<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email has been sent</title>
</head>
<body>
  <script>
    alert("We has sent email for reset password!")
    window.location.href = '/login'
  </script>
</body>
</html>