<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
 <header>
  <section class="header-bar">
  <div class="right-header">
    <img src="/assets/lock.png" alt="Lock icon" class="icon-img">
    <p class="icon-text">Smart Lock</p>
  </div> 
  <div class="left-header">
    <a href="/login">
    <button class="login-button">Login</button>
    </a>
    <button class="signup-button">Sign Up</button>
  </div>
  </section>
  <hr>
 </header> 
  <section class="content">
    <div class="title-box">
      <p class="title-text">Stay <b class="color-text">secure</b>, <br> stay <b class="color-text">connected</b>
       </p> 
       <p class="title-text">
      <b class="color-text">Control</b> and <b class="color-text">monitor</b> <br>your smart lock door <br> anytime, anywhere <br> with ease.

      </p>

      </p>
    </div>
    <div class="content-img">
      <img src="/assets/entry_img.png" alt="entry-img" class="entry-img">
    </div>
  </section>
</body>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  </style>
</html>
